FRONT-END/node_modules/
BACK-END/node_modules/
BACK-END/build/
BACK-END/.env
BACK-END/public/
.history
img/*.mp4
.env
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.vscode
dist/
