@font-face {
  font-family: "roboto";
  src: url("./fonts/RobotoMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto bold";
  src: url("./fonts/RobotoMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: "roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

body {
  padding: 0;
  overflow-x: hidden;
  margin: 0;
  background-color: var(--sushi-graphite);
  color: var(--sushi-graphite);
}

:root {
  --sushi-black: #0b090a;
  --sushi-graphite: #161a1d;
  --wine-red: #390d0d;
  --sushi-red1: #420506;
  --sushi-red2: #a4161a;
  --sushi-red3: #ba181b;
  --sushi-red4: #e5383b;
  --sushi-grey1: #b1a7a6;
  --sushi-grey2: #d3d3d3;
  --sushi-grey3: #f5f3f4;
  --sushi-white: #ffffff;
  --dust-pink: #c8a9a9;
  --grey: #252525;
  --soy-sauce: #191919;
  --brown-grey: rgba(44, 33, 33, 0.9);
  --intense-red: #bf4d4d;
  --forest-green: rgba(3, 32, 3, 0.8);
  --grey-green: rgba(54, 71, 63, 0.9);
  --lotus-flower: rgba(245, 245, 245, 0.9);
}

.admin-page-placeholder {
  margin: auto;
  color: var(--lotus-flower);
  width: 50%;
  background-color: var(--sushi-graphite);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 1em;
  border: 0.08em dashed var(--sushi-red1);
  padding: 1em;
  margin-top: 2em;
  box-shadow: 1px 10px 20px var(--sushi-black);
}

.admin-options {
  display: flex;
  justify-content: center;
}

.admin-options button {
  margin: 1em;
  padding: 1em;
  border-radius: 0.5em;
  background-color: var(--wine-red);
  color: var(--lotus-flower);
  border: 0.06em solid var(--sushi-red1);
}

.admin-options button:hover {
  background-color: var(--sushi-red1);
  color: var(--lotus-flower);
  transform: scale(1.1);
}

/* item added to cart modal */

body:has(dialog[open]) {
    overflow-y: hidden;
}

.update-order-dialog {
    position: fixed;
    top: 30%;
    background-color: var(--sushi-white);
    color: var(--sushi-grey3);
    padding: 2em;
    box-shadow: 0.1em 0.2em 0.2em var(--sushi-black);
    z-index: 999;
    border-radius: 1em;
    border: 0.08em solid rgb(66, 173, 37);
    color: var(--sushi-black);
    display: none;
    text-align: center;
    max-width: 300px;
}

dialog::backdrop {
    background-color: var(--sushi-graphite);
    opacity: 0.75;
}

.order-management-header {
    display: flex;
    justify-content: center;
    margin: 1em;
    color: var(--sushi-red2);
}

.order-management {
    display: flex;
    justify-content: center;
    margin: 1em;
    width: 90%;
    margin: auto;
    margin-bottom: 2em;
}

.pending-orders,
.inprogress-orders,
.completed-orders {
    margin: 0.5em;
    padding: 1em;
    background-color: var(--sushi-graphite);
    border-radius: 1em;
    border: 0.07em dashed var(--sushi-red1);
    box-shadow: 0.1em 0.1em 0.5em var(--sushi-black);
}

.pending-orders h3,
.inprogress-orders h3,
.completed-orders h3 {
    color: var(--lotus-flower);
    font-size: 1.3em;
    text-align: center;
}

.pending-table,
.inprogress-table,
.completed-table {
    background-color: var(--sushi-grey2);
    padding: 1em;
    border-radius: 1em;
}

.pending-table table,
.inprogress-table table,
.completed-table table {
    width: 100%;
    border-collapse: collapse;
}

.pending-table th,
.inprogress-table th,
.completed-table th {
    font-family: "roboto bold";
    padding: 0.3em;
    text-align: left;
    font-size: 1.2em;
}

.pending-table td,
.inprogress-table td,
.completed-table td {
    padding: 0.5em;
    border-bottom: dashed 0.1em var(--sushi-black);
}

.page-bottom {
    display: flex;
    justify-content: center;
    margin: 1em;
    flex-direction: row;
    margin: auto;
    width: 70%;
    margin-bottom: 1em;
}

.order-details {
    width: 90%;
    text-align: center;
    background-color: var(--sushi-graphite);
    border-radius: 1em;
    padding: 1em;
    margin: auto;
    box-shadow: 0.2em 0.3em 0.3em solid var(--sushi-black);
}

.order-details-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--sushi-grey2);
    border-radius: 1em;
    padding: 2em;
    margin: auto;
}

.order-details-section h2 {
    color: var(--sushi-red2);
    font-size: 1.5em;
    margin: 0.5em;
}

.order-details-section p {
    margin: 0.3em;
    padding: 0.3em;
    text-align: center;
    border-bottom: 0.1em dashed var(--sushi-red2);
}

.button-div {
    display: flex;
    justify-content: center;
    margin: 1em;
}

.button-div button {
    padding: 0.5em;
    border-radius: 1em;
    border: 0.1em solid var(--sushi-red2);
    background-color: var(--sushi-grey3);
    color: var(--sushi-red2);
    cursor: pointer;
    transition: background-color 0.5s;
    margin: 0.5em;
}

.button-div button:hover {
    background-color: var(--sushi-red2);
    color: var(--sushi-grey2);
    transition: all 0.5s;
}

@media screen and (max-width: 1150px) {
    .order-management {
        width: 90%;
        margin: auto;
        margin-bottom: 1em;
    }
}

@media  screen and (max-width: 1100px) {
    .admin-page-placeholder {
        width: 50%;
    }

    .admin-options {
        flex-direction: column;
    }
    
}


@media screen and (max-width: 900px) {
    .order-management {
        width: 80%;
    }

    .page-bottom {
        flex-direction: column;
        width: 90%;
        align-items: center;
        justify-content: center;
    }
    .order-details {
        margin-top: 1em;
        margin: auto;
        width: 80%;
    }
}

@media screen and (max-width: 850px) {
    .order-management {
        flex-direction: column;
    }
}

@media screen and (max-width: 650px) {
    .order-details {
        width: 90%;
        margin: auto;
    }

    .order-management {
        width: 80%;
    }
}
