@font-face {
    font-family: "roboto";
    src: url("./fonts/RobotoMono-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "roboto bold";
    src: url("./fonts/RobotoMono-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

* {
    font-family: "roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

body {
    padding: 0;
    overflow-x: hidden;
    margin: 0;
    background-color: var(--soy-sauce);
}

:root {
    --sushi-black: #0b090a;
    --sushi-graphite: #161a1d;
    --wine-red: #390d0d;
    --sushi-red1: #420506;
    --sushi-red2: #a4161a;
    --sushi-red3: #ba181b;
    --sushi-red4: #e5383b;
    --sushi-grey1: #b1a7a6;
    --sushi-grey2: #d3d3d3;
    --sushi-grey3: #f5f3f4;
    --sushi-white: #ffffff;
    --dust-pink: #c8a9a9;
    --grey: #252525;
    --soy-sauce: #191919;
    --brown-grey: rgba(44, 33, 33, 0.9);
    --intense-red: #bf4d4d;
    --forest-green: rgba(3, 32, 3, 0.8);
    --grey-green: rgba(54, 71, 63, 0.9);
    --lotus-flower: rgba(245, 245, 245, 0.9);
}

.order-management-header {
    display: flex;
    justify-content: center;
    margin: 1em;
    color: var(--sushi-red2);
}

.order-management {
    display: flex;
    justify-content: center;
    margin: 1em;
    width: 90%;
    margin: auto;
    margin-bottom: 2em;
}

.search {
    display: flex;
    align-items: center;
    gap: 1em;
    flex-direction: column;
    margin-right: 1em;
    width: 400px;
}

.search-bar {
    display: flex;
    align-items: center;
    border-radius: 1em;
    padding: 0.5em;
    border: 0.1em solid var(--sushi-black);
    background-color: var(--sushi-grey2);
    color: var(--lotus-flower);
    max-width: 280px;
    margin: 0;
    width: 100%;
}

.search-bar input {
    border-radius: 1em;
}

.search-bar input[type="text"] {
    flex-grow: 1;
    padding: 0.5em;
    border: none;
    background-color: var(--sushi-grey2);
    color: var(--sushi-black);
    box-sizing: border-box;
}

.search-bar input[type="text"]::placeholder {
    color: var(--sushi-black);
    text-align: center;
}

.search-bar .search-button {
    color: var(--sushi-graphite);
    background-color: var(--sushi-grey3);
    border: 0.1em solid var(--sushi-red1);
    border-radius: 0.5em;
    cursor: pointer;
    transition: background-color 0.5s;
    margin: 0;
}

.search-bar .search-button:hover {
    background-color: var(--sushi-red1);
    color: var(--sushi-grey2);
    transition: all 0.5s;
}

.pending-orders,
.inprogress-orders,
.completed-orders {
    margin: 0.5em;
    padding: 1em;
    background-color: var(--sushi-red1);
    border-radius: 1em;
    border: 0.07em dashed var(--sushi-red1);
    box-shadow: 0.1em 0.1em 0.5em var(--sushi-black);
}

.pending-orders h3,
.inprogress-orders h3,
.completed-orders h3 {
    color: var(--lotus-flower);
    font-size: 1.3em;
    text-align: center;
}

.pending-table,
.inprogress-table,
.completed-table {
    background-color: var(--sushi-grey2);
    padding: 1em;
    border-radius: 1em;
}

.pending-table table,
.inprogress-table table,
.completed-table table {
    width: 100%;
    border-collapse: collapse;
}

.pending-table th,
.inprogress-table th,
.completed-table th {
    font-family: "roboto bold";
    padding: 0.3em;
    text-align: left;
    font-size: 1.2em;
}

.pending-table td,
.inprogress-table td,
.completed-table td {
    padding: 0.5em;
    border-bottom: dashed 0.1em var(--sushi-black);
}

.page-bottom {
    display: flex;
    justify-content: center;
    margin: 1em;
    flex-direction: row;
    margin: auto;
    width: 70%;
    margin-bottom: 1em;
}

.order-details {
    width: 90%;
    text-align: center;
}

.order-details-section {
    display: flex;
    justify-content: center;
    margin: 1em;
    align-items: center;
    flex-direction: column;
    background-color: var(--sushi-grey2);
    border-radius: 1em;
    padding: 2em;
    margin: auto;
}

.order-details-section h2 {
    color: var(--sushi-red2);
    font-size: 1.5em;
    margin: 0.5em;
}

.order-details-section p {
    margin: 0.3em;
    padding: 0.3em;
    text-align: center;
    border-bottom: 0.1em dashed var(--sushi-red2);
}

.button-div {
    display: flex;
    justify-content: center;
    margin: 1em;
}

.button-div button {
    padding: 0.5em;
    border-radius: 1em;
    border: 0.1em solid var(--sushi-red2);
    background-color: var(--sushi-grey3);
    color: var(--sushi-red2);
    cursor: pointer;
    transition: background-color 0.5s;
    margin: 0.5em;
}

.button-div button:hover {
    background-color: var(--sushi-red2);
    color: var(--sushi-grey2);
    transition: all 0.5s;
}

@media screen and (max-width: 1150px) {
    .order-management {
        width: 90%;
        margin: auto;
        margin-bottom: 1em;
    }
}

@media screen and (max-width: 900px) {
    .order-management {
        width: 80%;
    }

    .page-bottom {
        flex-direction: column;
        width: 90%;
        align-items: center;
        justify-content: center;
    }

    .search {
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-right: 0;
    }

    .order-details {
        margin-top: 1em;
        width: 100%;
    }
}

@media screen and (max-width: 850px) {
    .order-management {
        flex-direction: column;
    }
}

@media screen and (max-width: 650px) {
    .search {
        flex-direction: column;
    }

    .order-details {
        width: 100%;
    }

    .order-management {
        width: 80%;
    }
}
