/* General styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--sushi-black);
    color: var(--sushi-grey2);
    width: 100%;
    height: 100%;
}

html {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}


:root {
    --sushi-black: #0b090a;
    --sushi-graphite: #161a1d;
    --wine-red: rgb(38, 2, 2);
    --sushi-red1: #420506;
    --sushi-red2: #a4161a;
    --sushi-red3: #ba181b;
    --sushi-red4: #e5383b;
    --sushi-grey1: #b1a7a6;
    --sushi-grey2: #d3d3d3;
    --sushi-grey3: #f5f3f4;
    --sushi-white: #ffffff;
    --dust-pink: #C8A9A9; /* Softer pink */
    --grey: #252525;
    --soy-sauce: #191919;
    --brown-grey: rgba(44, 33, 33, 0.9);
    --intense-red: #BF4D4D;
    --wine-red: #390d0d;
    --forest-green: rgba(3, 32, 3, 0.8);
    --grey-green: rgba(54, 71, 63, 0.9);
    --lotus-flower: rgba(245, 245, 245, 0.9);
}


.about-sections {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: var(--sushi-graphite);
    border-radius: 12px;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.9);
}


section {
    margin-bottom: 2.5rem;
}

section h1 {
    font-size: 2rem;
    border-bottom: 2px solid var(--sushi-red4);
    padding-bottom: 10px;
    color: var(--sushi-red4);
}

section p, section ul {
    font-size: 1rem;
    line-height: 1.8;
}

section ul li {
    margin-bottom: 0.5rem;
}


.contact-section ul {
    list-style-type: none;
    padding: 0;
}

.contact-section a {
    color: var(--sushi-red4);
    text-decoration: none;
}

.contact-section a:hover {
    text-decoration: underline;
}


.map {
    height: 300px;
    background-color: var(--sushi-graphite);
    border-radius: 12px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map h2 {
    color: var(--sushi-grey2);
}




@media (max-width: 768px) {


    .reservation-form {
        padding: 1.5rem;
    }

    .reservation-form h1 {
        font-size: 1.6rem;
    }

    .reservation-form input, .reservation-form select {
        font-size: 0.9rem;
    }

    .reservation-form button {
        font-size: 1rem;
    }

}

@media (max-width: 500px) {
    .reservation-form {
        padding: 1rem;
    }

    .reservation-form h1 {
        font-size: 1.4rem;
    }

    .reservation-form input, .reservation-form select {
        font-size: 0.8rem;
    }

    .reservation-form button {
        font-size: 0.9rem;
    }

}

