html {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--sushi-black);
    color: var(--sushi-grey2);
    
}

:root {
    --sushi-black: #0B090A;
    --sushi-graphite: #161A1D;
    --sushi-red1: #660708;
    --sushi-red2: #A4161A;
    --sushi-red3: #BA181B;
    --sushi-red4: #E5383B;
    --sushi-grey1: #B1A7A6;
    --sushi-grey2: #D3D3D3;
    --sushi-grey3: #F5F3F4;
    --sushi-white: #FFFFFF;
    --dust-pink: rgb(105, 88, 88);
    --grey: #181416;
    --soy-sauce: #140f12;
    --brown-grey: rgba(44, 33, 33, 0.911);
    --intense-red: rgb(191, 77, 77);
    --wine-red: rgb(22, 2, 2);
    --forest-green: rgba(1, 12, 1, 0.815);
    --grey-green: rgba(54, 71, 63, 0.908);
    --lotus-flower: rgba(222, 222, 222, 0.959);

}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-top: 6rem;
    width: 400px;
    padding: 20px;
    background-color: var(--sushi-white);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-toggle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background: var(--sushi-grey2);
    border-radius: 50px;
    padding: 5px;
    position: relative;
    height: 45px;
    width: 100%;
}

.toggle-btn {
    flex: 1;
    border: none;
    background: transparent;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 0;
    color: var(--sushi-graphite);
    position: relative;
    z-index: 2;
}

.toggle-btn.active {
    color: var(--sushi-white);
}

.toggle-slider {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 50%;
    height: 85%;
    background: var(--sushi-red4);
    border-radius: 50px;
    transition: all 0.4s ease;
    z-index: 1;
}

.form-content {
    display: none;
    width: 100%;
}

.form-content.active {
    display: block;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    position: relative;
}

.input-container input {
    padding: 10px;
    border: 1px solid var(--sushi-grey1);
    border-radius: 5px;
    margin-top: 5px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: var(--sushi-grey1);
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.submit-button, .reset-button {
    padding: 10px 20px;
    border: none;
    background-color: var(--sushi-red3);
    color: var(--sushi-white);
    cursor: pointer;
    border-radius: 5px;
}

.reset-button {
    background-color: var(--sushi-grey1);
}

@keyframes validAnimation {
    0% {
        transform: scale(1);
        background-color: var(--sushi-white);
    }
    50% {
        transform: scale(1.05);
        background-color: #e8f5e9;
    }
    100% {
        transform: scale(1);
        background-color: var(--sushi-white);
    }
}

@keyframes invalidAnimation {
    0% {
        transform: scale(1);
        background-color: var(--sushi-white);
    }
    25% {
        transform: scale(1.05);
        background-color: #ffebee;
    }
    50% {
        transform: scale(0.95);
        background-color: #ffcdd2;
    }
    75% {
        transform: scale(1.05);
        background-color: #ef9a9a;
    }
    100% {
        transform: scale(1);
        background-color: var(--sushi-white);
    }
}

.login-form input:valid {
    border-color: green;
    box-shadow: 0 0 10px rgba(76, 175, 80, 0.5);
    outline-color: green;
    animation: validAnimation 0.5s ease-in;
}

.login-form input:invalid {
    box-shadow: 0 0 10px rgba(244, 67, 54, 0.5);
    animation: invalidAnimation 0.5s ease-out;
}

.form-message {
    text-wrap: wrap;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    padding: 10px 20px;
    background-color: #e8f5e9;
    border-radius: 10px;
    width: 15rem;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

#message-target {
    font-weight: bold;
    text-align: start;
}

.nav-content {
    margin: auto;
}



.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px; /* Reduced padding to control height */
    background: linear-gradient(135deg, var(--grey) 0%, var(--sushi-black) 100%);
    color: var(--lotus-flower);
    z-index: 50;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.logo p {
    margin: 0;
    padding-left: 0.5em;
}

.nav-list {
    display: flex; /* Display flex for desktop */
    flex-direction: row; /* Keep items in a row for desktop */
    gap: 3em; /* Space between items */
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
}

.nav-list li {
    list-style-type: none;
    position: relative; /* Positioning context for the ::after pseudo-element */
}

.nav-list li a {
    text-decoration: none;
    color: var(--lotus-flower);
    padding: 10px 0; /* Optional padding for each item */
    transition: color 0.5s;
    position: relative; /* Positioning context for the ::after pseudo-element */
}

.nav-list li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0; /* Position at the bottom of the link */
    width: 100%; /* Full width of the element */
    height: 2px; /* Height of the border */
    background-color: var(--dust-pink); /* Color of the border */
    transform: scaleX(0); /* Start with no width */
    transition: transform 0.3s ease; /* Transition for smooth animation */
}

.nav-list li a:hover::after {
    transform: scaleX(1); /* Scale the border to full width on hover */
}

.nav-list li a:hover {
    color: var(--dust-pink); /* Optional: Change color on hover */
}

/* Language and Login buttons */
.language, .login {
    margin-right: 1em;
    background-color: var(--soy-sauce);
    color: var(--lotus-flower);
    border: none;
    border-radius: 1em;
    padding: 1em;
    transition: all 0.3s ease;
}

.control-buttons {
    display: flex;
    gap: 1em;
}

/* Hamburger menu for mobile */
.hamburger {
    display: none;
    font-size: 1.5rem;
    color: var(--lotus-flower);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 1em;
}

.reservation-form {
    max-width: 500px;
    margin: 3rem auto;
    padding: 2rem;
    background-color: var(--sushi-graphite);
    border-radius: 12px;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.8);
    
}


.reservation-legend {
    background-image: url(../img/resaervation-legend2.png);
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    margin: auto;
}

.reservation-form h1 {
    font-size: 1.8rem;
    color: var(--sushi-red4);
    text-align: center;
    margin-bottom: 2rem;
}

.reservation-form label {
    font-size: 1rem;
    margin-bottom: 8px;
    color: var(--sushi-red4);
}

.reservation-form select {
    color: var(--su);
    background-color: var(--sushi-graphite);
}


.reservation-form input, .reservation-form select {
    width: 95%;
    padding: 12px;
    margin-bottom: 1.5rem;
    border: none;
    border-radius: 8px;
    background-color: var(--sushi-grey1);
    font-size: 1rem;
    transition: border-color 0.3s, background-color 0.3s;
    margin-top: 6px;
}

.reservation-form option {
    color: var(--sushi-graphite);
    
}



.reservation-form input:focus, .reservation-form select:focus {
    outline: none;
}

.reservation-form input::placeholder, .reservation-form select::placeholder {
    color: var(--sushi-grey3);
}


.reservation-form button {
    width: 100%;
    padding: 14px;
    background-color: var(--sushi-red4);
    color: var(--sushi-white);
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reservation-form button:hover {
    background-color: var(--sushi-red3);
}

details {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1rem;
    overflow: hidden;
    color: var(--sushi-grey2);
}

details:hover {
    cursor: pointer;
}

details[open] .content {
    animation: fade-in 0.4s ease-in-out;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    .reservation-form {
        padding: 1.5rem;
    }

    .reservation-form h1 {
        font-size: 1.6rem;
    }

    .reservation-form input, .reservation-form select {
        font-size: 0.9rem;
    }

    .reservation-form button {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .reservation-form {
        padding: 1rem;
    }

    .reservation-form h1 {
        font-size: 1.4rem;
    }

    .reservation-form input, .reservation-form select {
        font-size: 0.8rem;
    }

    .reservation-form button {
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {
    .navigation {
        flex-direction: column; 
        align-items: flex-start; 
        padding: 20px 20px; 
        position: relative;
    }

  
    .logo {
        width: 20%; 
        display: flex;
        justify-content: space-between; 
    }

   
    .hamburger {
        display: inline-block;
    }

   
    .control-buttons {
        position: absolute;
        top: 10px;
        right: 10px;
    }

   
    .nav-list {
        display: flex; /* Keep it flex for column layout */
        flex-direction: column;
        height: 0; /* Set initial height to 0 */
        overflow: hidden; /* Hide overflow to maintain visual appearance */
        width: 100%;
        gap: 1em;
        background-color: var(--grey);
        transition: height 0.3s ease; /* Transition effect for height */
        position: absolute; /* Use absolute positioning */
        top: 100%; /* Position it below the navigation */
        left: 0; /* Align it to the left */
        z-index: 10; /* Ensure it appears above other elements */
    }
  
    .nav-list.active {
        height: auto; 
        padding: 10px 0; 
    }

    .nav-list li {
        padding: 10px 20px; 
        width: 100%;
        gap: 1em;
        margin-left: 1em;
    }

    .nav-list li a {
        color: var(--lotus-flower);
    }
}
