<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>front page</title>
    <link rel="stylesheet" href="./admin.css" />
    <link rel="stylesheet" href="./nav.css" />
    <script
      src="https://kit.fontawesome.com/ce58f4085c.js"
      crossorigin="anonymous"
    ></script>
    <script type="module" crossorigin src="./assets/modulepreload-polyfill-B5Qt9EMX.js"></script>
    <script type="module" crossorigin src="./assets/main-CxY0136d.js"></script>
    <script type="module" crossorigin src="./assets/menu-B19cF7YN.js"></script>
    <script type="module" crossorigin src="./assets/index-DWQ6iIlj.js"></script>
  <link rel="manifest" href="./manifest.webmanifest"><script id="vite-plugin-pwa:register-sw" src="./registerSW.js"></script></head>
  <body>
    <header>
      <nav class="navigation">
        <div class="logo">
          <button class="hamburger">☰</button>
          <p>Tataki</p>
        </div>
        <ul class="nav-list">
          <li><a href="admin.html">Admin page</a></li>
          <li><a href="order_management.html">Order management</a></li>
        </ul>
        <div class="control-buttons">
          <button class="language" id="flag-en">🇬🇧</button>
          <button class="language" id="flag-fi">🇫🇮</button>
          <button class="login">
            <a href="user.html"><i class="fa-regular fa-user"></i></a>
          </button>
        </div>
      </nav>
    </header>
    <main>
      <div class="admin-page-placeholder">
        <div class="admin-header">
          <h1>Admin page</h1>
        </div>
        <div class="admin">
          <div class="admin-options">
            <button class="admin-option">Edit menu</button>
            <button class="admin-option">Edit opening hours</button>
            <button class="admin-option">Edit contact information</button>
            <button class="admin-option">Edit about us</button>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
