body {
    background-color: black;
    color: white;
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    margin-top: 1rem;
    font-family: 'Roboto', sans-serif;
}

nav {
    height: 4rem;
    justify-content: center;
    align-items: center;
}

.nav-items a {
    color: white;
    font-size: 1.2rem;
}

.nav-items a:hover {
    color:lawngreen;
    text-decoration: none;
}

.main-container {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    margin-top: 5rem;
    max-width: 80%;
}

.img-div {
    display: flex;
    flex-direction: row;
}

.img {
    width: 200px;
    height: 500px;
    background-size: cover;
    background-position: center;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}

.img:hover {
    width: 350px;
    border: 3px solid white;
    cursor: pointer;
    
}

#img1 {
    background-image: url(./img/runner.png);
}

#img2 {
    background-image: url(./img/shawshank.png);
}

#img3 {
    background-image: url(./img/alien.png);
}

#img4 {
    background-image: url(./img/good.png);
}

#img5 {
    background-image: url(./img/silence.png);
}