:root {
  --sushi-black: #0b090a;
  --sushi-graphite: #161a1d;
  --wine-red: #390d0d;
  --sushi-red1: #420506;
  --sushi-red2: #a4161a;
  --sushi-red3: #ba181b;
  --sushi-red4: #e5383b;
  --sushi-grey1: #b1a7a6;
  --sushi-grey2: #d3d3d3;
  --sushi-grey3: #f5f3f4;
  --sushi-white: #ffffff;
  --dust-pink: #C8A9A9;
  --grey: #252525;
  --soy-sauce: #191919;
  --brown-grey: rgba(44, 33, 33, 0.9);
  --intense-red: #BF4D4D;
  --forest-green: rgba(3, 32, 3, 0.8);
  --grey-green: rgba(54, 71, 63, 0.9);
  --lotus-flower: rgba(245, 245, 245, 0.9);
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

/*#region Navigation bar */

.nav-content {
  margin: auto;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  background: linear-gradient(135deg, var(--grey) 0%, var(--sushi-black) 100%);
  color: var(--lotus-flower);
  z-index: 50;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  max-width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.3em;
}

.logo p {
  margin: 0;
  padding-left: 0.5em;
}

.nav-list {
  display: flex;
  flex-direction: row;
  gap: 2em;
  margin: 0;
  padding: 0;
}

.nav-list li {
  list-style-type: none;
  position: relative;
}

.nav-list li a {
  text-decoration: none;
  color: var(--lotus-flower);
  padding: 10px 0;
  transition:
    color 0.3s,
    transform 0.3s;
  position: relative;
}

.nav-list li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: var(--dust-pink);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-list li a:hover::after {
  transform: scaleX(1);
}

.nav-list li a:hover {
  color: var(--dust-pink);
  transform: translateY(-2px);
}

/* Language and Login buttons */

.login a {
  text-decoration: none;
}

.language,
.login {
  margin-right: 1em;
  background-color: var(--soy-sauce);
  color: var(--lotus-flower);
  border: none;
  border-radius: 1em;
  padding: 0.8em 1.5em;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

button.login {
  background-color: var(--sushi-red1);
  color: var(--lotus-flower);
}

button.login a {
  color: var(--lotus-flower);
  text-decoration: none;
}

button.login:hover {
  background-color: var(--sushi-red3);
}

.language:hover,
.login:hover {
  background-color: var(--sushi-red3);
  transform: scale(1.05);
  cursor: pointer;
}

/* Hamburger menu for mobile */
.hamburger {
  display: none;
  font-size: 1.5rem;
  color: var(--lotus-flower);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 1em;
}

/*#endregion */

/*#region Footer */

.main-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 0;
  position: relative;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background: linear-gradient(135deg, var(--grey) 0%, var(--sushi-black) 100%);
  color: var(--sushi-grey3);
  padding: 0.5em;
  max-width: 100%;
}

.footer-logo {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.3em;
  padding-left: 0.5em;
}

.footer-nav ul {
  padding: 0;
  padding-right: 7em;
}

.footer-nav li {
  list-style-type: none;
  display: inline;
  padding: 1em;
}

.footer-nav li a {
  text-decoration: none;
  color: var(--lotus-flower);
  padding: 1em 0;
  transition:
    color 0.3s,
    transform 0.3s;
  position: relative;
}

.footer-nav li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: var(--dust-pink);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.footer-nav li a:hover::after {
  transform: scaleX(1);
}

.footer-nav li a:hover {
  color: var(--sushi-grey1);
  transition: all 0.5s;
}

.social-medias {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1em;
}

.social-medias ul {
  padding: 0;
}

.social-medias li {
  display: inline;
  list-style-type: none;
}

.social-medias li a {
  cursor: pointer;
  color: var(--lotus-flower);
  padding: 10px 0;
  transition:
    color 0.3s,
    transform 0.3s;
  text-decoration: none;
}

.fa-square-instagram, .fa-square-facebook {
  color: var(--sushi-red2);
  font-size: 1.8em;
}

.fa-square-instagram:hover, .fa-square-facebook:hover {
  color: var(--sushi-red4);
  transition: all 0.5s;
  transform: scale(1.2);
  cursor: pointer;
}

/*#endregion footer*/


/*#region Responsive design */

@media (max-width:950px) {
  nav ul {
      flex-direction: column;
      align-items: center;
  }

  nav ul li {
      margin: 10px 0;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-nav ul {
    padding: 0;
  }

  .navigation {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 20px;
    position: relative;
    border-radius: 0;
  }

  .logo {
    width: 20%;
    display: flex;
    justify-content: space-between;
  }

  .hamburger {
    display: inline-block;
  }

  .control-buttons {
    position: absolute;
    top: 1em;
    right: 1em;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    height: 0;
    overflow: hidden;
    width: 100%;
    gap: 1em;
    background-color: var(--grey);
    transition: height 0.3s ease;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 30;
  }

  .nav-list.active {
    height: 300px;
    padding: 10px 0;
    background: linear-gradient(135deg, var(--grey) 0%, var(--sushi-black) 100%);
    border-bottom: 2px solid var(--lotus-flower);
    max-width: 100%;
  }

  .nav-list li {
    padding: 10px 20px;
    width: 100%;
    gap: 1em;
    margin-left: 1em;
  }

  .nav-list li a {
    color: var(--lotus-flower);
  }

  .social-medias {
    padding: 0;
  }
}

@media screen and (max-width: 840px) {
  .control-buttons {
    display: flex;
    margin-right: 0.3em;
  }

  .nav-list {
    gap: 1em;
  }

  .footer-nav li {
    padding: .5em;
  }


}

@media (max-width: 768px) {
  nav ul {
      flex-direction: column;
      align-items: center;
  }

  nav ul li {
      margin: 10px 0;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .navigation {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 20px;
    position: relative;
    border-radius: 0;
  }

  .logo {
    width: 20%;
    display: flex;
    justify-content: space-between;
  }

  .hamburger {
    display: inline-block;
  }

  .control-buttons {
    position: absolute;
    top: 1em;
    right: 1em;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    height: 0;
    overflow: hidden;
    width: 100%;
    gap: 1em;
    background-color: var(--grey);
    transition: height 0.3s ease;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 30;
  }

  .nav-list.active {
    height: 300px;
    padding: 10px 0;
    background: linear-gradient(135deg, var(--grey) 0%, var(--sushi-black) 100%);
    border-bottom: 2px solid var(--lotus-flower);
    max-width: 100%;
  }

  .nav-list li {
    padding: 10px 20px;
    width: 100%;
    gap: 1em;
    margin-left: 1em;
  }

  .nav-list li a {
    color: var(--lotus-flower);
  }
}

@media (max-width: 500px) {
  .logo p {
    display: none;
  }


  .footer-nav ul li {
    display: flex;
    flex-direction: column;
    gap: .4em;
    justify-content: center;
    padding: 0;
  }

  .footer-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0;
  }

  .social-medias ul {
    display: flex;
    flex-direction: column;
    gap: .4em;
    justify-content: center;
    padding: 0;
  }

  .footer-logo{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0;
  }

}


/*#endregion Responsive design*/
