@font-face {
  font-family: "roboto";
  src: url("./fonts/RobotoMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto bold";
  src: url("./fonts/RobotoMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: "roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

body {
  padding: 0;
  overflow-x: hidden;
  margin: 0;
  background-color: var(--sushi-red1);
}

:root {
  --sushi-black: #0b090a;
  --sushi-graphite: #161a1d;
  --wine-red: #390d0d;
  --sushi-red1: #420506;
  --sushi-red2: #a4161a;
  --sushi-red3: #ba181b;
  --sushi-red4: #e5383b;
  --sushi-grey1: #b1a7a6;
  --sushi-grey2: #d3d3d3;
  --sushi-grey3: #f5f3f4;
  --sushi-white: #ffffff;
  --dust-pink: #c8a9a9;
  --grey: #252525;
  --soy-sauce: #191919;
  --brown-grey: rgba(44, 33, 33, 0.9);
  --intense-red: #bf4d4d;
  --forest-green: rgba(3, 32, 3, 0.8);
  --grey-green: rgba(54, 71, 63, 0.9);
  --lotus-flower: rgba(245, 245, 245, 0.9);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  background: linear-gradient(
    0deg,
    var(--sushi-graphite) 15%,
    var(--sushi-black) 90%
  );
  color: var(--lotus-flower);
  z-index: 50;
  max-width: 100%;
}

.logo {
  padding-left: 1em;
  font-size: 1.2em;
  color: var(--lotus-flower);
  letter-spacing: 0.7em;
}

.login {
  padding-right: 1em;
}

.login-button {
  background-color: var(--sushi-graphite);
  color: var(--lotus-flower);
  border: 0.1em solid var(--sushi-black);
  padding: 1em;
  cursor: pointer;
  transition: background-color 0.5s;
  border-radius: 1em;
}

.login-button:hover {
  background-color: var(--sushi-red1);
  transition: all 0.5s;
}

.login-button a {
  text-decoration: none;
  color: var(--lotus-flower);
}

.order-management-header {
  display: flex;
  justify-content: center;
  margin: 1em;
  color: var(--lotus-flower);
}

.order-management {
  display: flex;
  justify-content: center;
  margin: 2em;
}

.search {
  display: flex;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
  width: 100%;
}

.search-bar {
  display: flex;
  align-items: center;
  border-radius: 1em;
  padding: 0.5em;
  border: 0.1em solid var(--sushi-black);
  background-color: var(--sushi-grey2);
  color: var(--lotus-flower);
  width: 100%;
  max-width: 350px;
  margin: 0;
}

.search-bar input {
  border-radius: 1em;
}

.search-bar input[type="text"] {
  flex-grow: 1;
  padding: 0.5em;
  border: none;
  background-color: var(--sushi-grey2);
  color: var(--sushi-black);
  width: 100%;
  box-sizing: border-box;
}

.search-bar input[type="text"]::placeholder {
  color: var(--sushi-black);
  text-align: center;
}

.search-bar .search-button {
  padding: 0.5em;
  color: var(--sushi-graphite);
  background-color: var(--sushi-grey3);
  border: 0.1em solid var(--sushi-black);
  border-radius: 0.5em;
  cursor: pointer;
  transition: background-color 0.5s;
}

.search-bar .search-button:hover {
  background-color: var(--sushi-graphite);
  color: var(--sushi-grey2);
  transition: all 0.5s;
}

.pending-orders,
.inprogress-orders,
.completed-orders {
  margin: 0.5em;
  padding: 1em;
  background-color: var(--sushi-graphite);
  border-radius: 1em;
}

.pending-orders h3,
.inprogress-orders h3,
.completed-orders h3 {
  color: var(--lotus-flower);
  font-size: 1.3em;
  text-align: center;
}

.pending-table,
.inprogress-table,
.completed-table {
  background-color: var(--sushi-grey2);
  padding: 1em;
  border-radius: 1em;
}

.pending-table th,
.inprogress-table th,
.completed-table th {
  font-family: "roboto bold";
  padding: 0.3em;
  text-align: left;
  font-size: 1.2em;
}

.pending-table td,
.inprogress-table td,
.completed-table td {
  padding: 0.5em;
  border-bottom: dashed 0.1em var(--sushi-black);
}

@media screen and (max-width: 1150px) {
  .order-management {
    flex-direction: column;
    align-items: center;
  }
  .search-bar {
    flex-direction: column;
    align-items: center;
  }

  .search-bar button {
    margin-top: 1em;
  }

  .search {
    padding: 0;
    margin: 0;
  }
}
